[submodule "external/tml"]
	path = external/tml
	url = https://github.com/jwurzer/tml.git
[submodule "external/picoc"]
	path = external/picoc
	url = https://github.com/jwurzer/picoc.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/jwurzer/imgui.git
